<p class="main-header">
  <mat-toolbar color="warn">
    <img src="/assets/images/kabi-samrat.png" class="pr-1" width="40" alt="kabi-samrat-picture">
    <span class="tg-lato">Bhanja E-Store</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    &nbsp;&nbsp;
    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
    &nbsp;&nbsp;
    <button mat-raised-button>Sign Out</button>
  </mat-toolbar>
</p>
