<div style="margin-top: 75px"></div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <img
        src="https://cdn.hipwallpaper.com/i/26/28/oFCSY3.jpg"
        style="width: 100%; height: 500px"
        alt="store-image"
      />
    </div>
    <div class="row">
      <p class="h2 pt-2" style="font-family: Lato;">Charlie's Restuarant</p>
      <p class="h6" style="font-family: Lato;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius soluta
        accusamus autem quaerat adipisci aspernatur numquam est in rerum nam? In
        at, labore facere cupiditate esse est eligendi ipsam deleniti.
      </p>
      <p class="h6" style="font-family: Lato;">Bhanjanagar, Old market street</p>
    </div>
  </div>
</div>
<div class="mt-5"></div>
