<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div *ngFor="let n of iterate3" class="col-md-3 pt-5">
        <mat-card class="example-card">
          <img mat-card-image src="https://4.imimg.com/data4/XB/JF/MY-11715160/hotel-interior-design-services-500x500.jpg">
          <mat-card-header style="text-align: left;">
            <mat-card-title style="font-family: Lato;font-weight: 600;">Charlie's Restuarant</mat-card-title>
            <mat-card-subtitle style="font-family: Lato;">Bhanjanagar, Old Market Street</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="tg-para" style="font-family: Lato;">
              Lorem ipsum dolor sit amet  odio ullam asperiores dolore? Necessitatibus.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button routerLink="/app/store" mat-flat-button color="warn" class="btn-block">View</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="pb-5"></div>
  </div>
</div>
