.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://4.imimg.com/data4/XB/JF/MY-11715160/hotel-interior-design-services-500x500.jpg');
  background-size: cover;
}
